@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradOrange {
  @apply bg-gradient-to-br from-[#FF5E00] via-[#F54562] to-[#C32DE1];
}
.gradLighDark {
  @apply bg-gradient-to-br from-[rgba(245,247,250,0.13)] via-[rgba(245,247,250,0.07)] to-[rgba(245,247,250,0.1)];
}

.maxW {
  max-width: 1320px;
}

.neumo {
  border-radius: 24px;
  background: linear-gradient(123deg, #21242963, #212429) ;
  box-shadow: 14px 14px 28px #1c1f23, -14px -14px 28px #26292f;
  border: 1px solid rgba(245, 247, 250, 0.091);
}
